In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date

In [2]:
applicant_df_3 = pd.read_csv(
    Path('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/applicants_data_2.csv',)
)

applicant_df_3.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
applicant_df_3.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
applicant_df_3 = applicant_df_3.drop(columns=['EIN','NAME'])
applicant_df_3.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
cat_variables_3 = list(applicant_df_3.dtypes[applicant_df_3.dtypes=='object'].index)
cat_variables_3

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
enc_3 = OneHotEncoder(sparse=False)

enc_data_3 = enc_3.fit_transform(applicant_df_3[cat_variables_3])

In [7]:
enc_df_3 = pd.DataFrame(
    enc_data_3,
    columns=enc_3.get_feature_names(cat_variables_3)
)

enc_df_3.head()

/Users/ameerirfan/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
non_cat_variables_3 = list(applicant_df_3.dtypes[applicant_df_3.dtypes!='object'].index)
non_cat_variables_3

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [9]:
enc_df_3= pd.concat([applicant_df_3[non_cat_variables_3], enc_df_3], axis=1)

enc_df_3.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
Y = enc_df_3['IS_SUCCESSFUL']
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
X = enc_df_3.drop(columns=['IS_SUCCESSFUL'])
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [13]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaler_3 = X_scaler.transform(X_train)
X_test_scaler_3 = X_scaler.transform(X_test)

In [17]:
num_input_feat_3 = len(X_train.iloc[0])
num_input_feat_3

116

In [18]:
num_output_neurons_3 = 1

In [21]:
hidden_nodes_layer1_3 = np.ceil(np.sqrt(num_input_feat * num_output_neurons_3))*3
hidden_nodes_layer1_3

33.0

In [23]:
hidden_nodes_layer2_3 = np.ceil(np.sqrt(hidden_nodes_layer1_3 * num_output_neurons_3))*3
hidden_nodes_layer2_3

18.0

In [25]:
hidden_nodes_layer3_3 = np.ceil(np.sqrt(hidden_nodes_layer2_3 * num_output_neurons_3))*3
hidden_nodes_layer3_3

15.0

In [26]:
nn_3 = Sequential()

2022-08-27 21:11:43.971637: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [28]:
nn_3.add(
    Dense(
        units=hidden_nodes_layer1_3,
        activation='relu',
        input_dim=num_input_feat
    )
)

nn_3.add(
    Dense(
        units=hidden_nodes_layer2_3,
        activation='relu'
    )
)


nn_3.add(
    Dense(
        units=hidden_nodes_layer3_3,
        activation='relu'
    )
)

nn_3.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

nn_3.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 33)                3861

 dense_1 (Dense)             (None, 18)                612

 dense_2 (Dense)             (None, 15)                285

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 4,774
Trainable params: 4,774
Non-trainable params: 0
_________________________________________________________________

In [29]:
nn_3.compile(
        loss='binary_crossentropy',
        optimizer='adam',
        metrics=['accuracy']
        
)

In [31]:
epochs=100
nn_3.fit(
    X_train_scaler_3,
    Y_train,
    epochs=epochs
)

Epoch 1/100
804/804 [==============================] - 1s 929us/step - loss: 0.5753 - accuracy: 0.7210
Epoch 2/100
804/804 [==============================] - 1s 928us/step - loss: 0.5523 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 1s 888us/step - loss: 0.5487 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 1s 881us/step - loss: 0.5467 - accuracy: 0.7300
Epoch 5/100
804/804 [==============================] - 1s 877us/step - loss: 0.5447 - accuracy: 0.7327
Epoch 6/100
804/804 [==============================] - 1s 882us/step - loss: 0.5440 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 1s 878us/step - loss: 0.5432 - accuracy: 0.7334
Epoch 8/100
804/804 [==============================] - 1s 893us/step - loss: 0.5423 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 1s 887us/step - loss: 0.5425 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 1s 893us/step - loss: 0.5414 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 1s 891us/step - loss: 0.5415 - accuracy: 0.7361
Epoch 12/100
804/804 [==============================] - 1s 886us/step - loss: 0.5400 - accuracy: 0.7344
Epoch 13/100
804/804 [==============================] - 1s 883us/step - loss: 0.5399 - accuracy: 0.7362
Epoch 14/100
804/804 [==============================] - 1s 896us/step - loss: 0.5398 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 1s 889us/step - loss: 0.5392 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 891us/step - loss: 0.5397 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 1s 889us/step - loss: 0.5387 - accuracy: 0.7364
Epoch 18/100
804/804 [==============================] - 1s 889us/step - loss: 0.5385 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 1s 957us/step - loss: 0.5387 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 1s 901us/step - loss: 0.5380 - accuracy: 0.7379
Epoch 21/100
804/804 [==============================] - 1s 904us/step - loss: 0.5381 - accuracy: 0.7366
Epoch 22/100
804/804 [==============================] - 1s 899us/step - loss: 0.5376 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 1s 886us/step - loss: 0.5375 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 891us/step - loss: 0.5374 - accuracy: 0.7373
Epoch 25/100
804/804 [==============================] - 1s 893us/step - loss: 0.5368 - accuracy: 0.7376
Epoch 26/100
804/804 [==============================] - 1s 880us/step - loss: 0.5370 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7377
Epoch 28/100
804/804 [==============================] - 1s 893us/step - loss: 0.5364 - accuracy: 0.7381
Epoch 29/100
804/804 [==============================] - 1s 894us/step - loss: 0.5368 - accuracy: 0.7371
Epoch 30/100
804/804 [==============================] - 1s 894us/step - loss: 0.5359 - accuracy: 0.7382
Epoch 31/100
804/804 [==============================] - 1s 930us/step - loss: 0.5361 - accuracy: 0.7380
Epoch 32/100
804/804 [==============================] - 1s 922us/step - loss: 0.5359 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 1s 898us/step - loss: 0.5359 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 1s 894us/step - loss: 0.5353 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 1s 899us/step - loss: 0.5356 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 1s 981us/step - loss: 0.5350 - accuracy: 0.7382
Epoch 37/100
804/804 [==============================] - 1s 888us/step - loss: 0.5351 - accuracy: 0.7382
Epoch 38/100
804/804 [==============================] - 1s 889us/step - loss: 0.5350 - accuracy: 0.7382
Epoch 39/100
804/804 [==============================] - 1s 890us/step - loss: 0.5353 - accuracy: 0.7391
Epoch 40/100
804/804 [==============================] - 1s 895us/step - loss: 0.5348 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 894us/step - loss: 0.5346 - accuracy: 0.7382
Epoch 42/100
804/804 [==============================] - 1s 888us/step - loss: 0.5345 - accuracy: 0.7380
Epoch 43/100
804/804 [==============================] - 1s 898us/step - loss: 0.5347 - accuracy: 0.7389
Epoch 44/100
804/804 [==============================] - 1s 903us/step - loss: 0.5340 - accuracy: 0.7378
Epoch 45/100
804/804 [==============================] - 1s 889us/step - loss: 0.5339 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 1s 893us/step - loss: 0.5341 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 1s 894us/step - loss: 0.5343 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 1s 923us/step - loss: 0.5340 - accuracy: 0.7380
Epoch 49/100
804/804 [==============================] - 1s 975us/step - loss: 0.5340 - accuracy: 0.7385
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7383
Epoch 51/100
804/804 [==============================] - 1s 993us/step - loss: 0.5337 - accuracy: 0.7380
Epoch 52/100
804/804 [==============================] - 1s 912us/step - loss: 0.5335 - accuracy: 0.7389
Epoch 53/100
804/804 [==============================] - 1s 895us/step - loss: 0.5336 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 1s 893us/step - loss: 0.5333 - accuracy: 0.7394
Epoch 55/100
804/804 [==============================] - 1s 899us/step - loss: 0.5331 - accuracy: 0.7391
Epoch 56/100
804/804 [==============================] - 1s 901us/step - loss: 0.5331 - accuracy: 0.7393
Epoch 57/100
804/804 [==============================] - 1s 968us/step - loss: 0.5330 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 1s 935us/step - loss: 0.5330 - accuracy: 0.7386
Epoch 59/100
804/804 [==============================] - 1s 898us/step - loss: 0.5326 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 1s 897us/step - loss: 0.5329 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 1s 901us/step - loss: 0.5326 - accuracy: 0.7402
Epoch 62/100
804/804 [==============================] - 1s 895us/step - loss: 0.5326 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 1s 976us/step - loss: 0.5324 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 1s 897us/step - loss: 0.5327 - accuracy: 0.7399
Epoch 65/100
804/804 [==============================] - 1s 893us/step - loss: 0.5325 - accuracy: 0.7387
Epoch 66/100
804/804 [==============================] - 1s 902us/step - loss: 0.5327 - accuracy: 0.7396
Epoch 67/100
804/804 [==============================] - 1s 895us/step - loss: 0.5318 - accuracy: 0.7401
Epoch 68/100
804/804 [==============================] - 1s 896us/step - loss: 0.5317 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 1s 904us/step - loss: 0.5319 - accuracy: 0.7401
Epoch 70/100
804/804 [==============================] - 1s 908us/step - loss: 0.5317 - accuracy: 0.7394
Epoch 71/100
804/804 [==============================] - 1s 911us/step - loss: 0.5315 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 1s 915us/step - loss: 0.5316 - accuracy: 0.7406
Epoch 73/100
804/804 [==============================] - 1s 989us/step - loss: 0.5318 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 1s 906us/step - loss: 0.5312 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 1s 899us/step - loss: 0.5313 - accuracy: 0.7400
Epoch 76/100
804/804 [==============================] - 1s 904us/step - loss: 0.5317 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 1s 908us/step - loss: 0.5309 - accuracy: 0.7408
Epoch 78/100
804/804 [==============================] - 1s 914us/step - loss: 0.5306 - accuracy: 0.7410
Epoch 79/100
804/804 [==============================] - 1s 995us/step - loss: 0.5311 - accuracy: 0.7408
Epoch 80/100
804/804 [==============================] - 1s 907us/step - loss: 0.5310 - accuracy: 0.7407
Epoch 81/100
804/804 [==============================] - 1s 915us/step - loss: 0.5311 - accuracy: 0.7398
Epoch 82/100
804/804 [==============================] - 1s 910us/step - loss: 0.5309 - accuracy: 0.7404
Epoch 83/100
804/804 [==============================] - 1s 909us/step - loss: 0.5309 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 1s 916us/step - loss: 0.5305 - accuracy: 0.7404
Epoch 85/100
804/804 [==============================] - 1s 917us/step - loss: 0.5304 - accuracy: 0.7400
Epoch 86/100
804/804 [==============================] - 1s 908us/step - loss: 0.5302 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 1s 983us/step - loss: 0.5309 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 1s 925us/step - loss: 0.5307 - accuracy: 0.7401
Epoch 89/100
804/804 [==============================] - 1s 945us/step - loss: 0.5305 - accuracy: 0.7411
Epoch 90/100
804/804 [==============================] - 1s 925us/step - loss: 0.5309 - accuracy: 0.7397
Epoch 91/100
804/804 [==============================] - 1s 922us/step - loss: 0.5304 - accuracy: 0.7407
Epoch 92/100
804/804 [==============================] - 1s 912us/step - loss: 0.5304 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 1s 917us/step - loss: 0.5302 - accuracy: 0.7404
Epoch 94/100
804/804 [==============================] - 1s 918us/step - loss: 0.5300 - accuracy: 0.7404
Epoch 95/100
804/804 [==============================] - 1s 921us/step - loss: 0.5302 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 1s 927us/step - loss: 0.5308 - accuracy: 0.7403
Epoch 97/100
804/804 [==============================] - 1s 941us/step - loss: 0.5298 - accuracy: 0.7408
Epoch 98/100
804/804 [==============================] - 1s 932us/step - loss: 0.5302 - accuracy: 0.7403
Epoch 99/100
804/804 [==============================] - 1s 922us/step - loss: 0.5298 - accuracy: 0.7403
Epoch 100/100
804/804 [==============================] - 1s 999us/step - loss: 0.5296 - accuracy: 0.7408

In [32]:
model_loss, model_accuracy = nn_3.evaluate(
                                        X_test_scaler_3,
                                        Y_test,
                                        verbose=2
)

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5648 - accuracy: 0.7346 - 283ms/epoch - 1ms/step
Loss: 0.5647941827774048, Accuracy: 0.7345772385597229

In [33]:
results_df=pd.DataFrame(
                    data={
                        'Date': [date.today()],
                        'Model'   : [2],
                        'Observations':['Adding a hidden layer, increasing epochs'],
                        'Loss'    : [model_loss], 
                        'Accuracy': [model_accuracy],
                        'Hidden layers': 3,
                        'Input Features':[num_input_feat_3],
                        'Output Neurons': [num_output_neurons_3],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1_3],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2_3],
                        'Epochs'         : [epochs],
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy'],
                        'Neurons in Hidden Layers3' : [hidden_nodes_layer3_3],
                        'Activation Hidden layer 3': ['relu']
                    })

print(results_df.T)

                                                                  0
Date                                                     2022-08-27
Model                                                             2
Observations               Adding a hidden layer, increasing epochs
Loss                                                       0.564794
Accuracy                                                   0.734577
Hidden layers                                                     3
Input Features                                                  116
Output Neurons                                                    1
Neurons in Hidden Layers1                                      33.0
Neurons in Hidden Layers2                                      18.0
Epochs                                                          100
Activation Hidden layer 1                                      relu
Activation Hidden layer 2                                      relu
Activation Output layer 1                                   sigmoid
loss                                            binary_crossentropy
optimizer                                                      adam
metrics                                                    accuracy
Neurons in Hidden Layers3                                      15.0
Activation Hidden layer 3                                      relu

In [34]:
results_df.to_csv('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/results.csv', mode='a')

In [35]:
Path = Path('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/AlphabetSoup_3.h5')
nn_3.save(Path)